extend layout
block content
  div(class="row")
    div(class="col-md-12")
      each image in locals.rows
        div(class="panel panel-default")
          div(class="row")
            div(class="col-sm-4")
              img(src="#{image.base64}" width="250px")
            div(class="col-sm-8")
              p=image.metadata
