extend layout
block content
  div(class="row")
    div(class="col-md-12")
      each image in locals.rows
        div(class="panel panel-default")
          div(class="panel-body")
            div(class="row")
              div(class="col-sm-8 text-center")
                img(src="#{image.base64}" width="450px")
              div(class="col-sm-4 text-left")
                ul(class="list-group" style="height:300px;overflow:auto;")
                  each key, value in JSON.parse(image.metadata)
                    a(class="list-group-item" href="http://localhost:8080/marketplace?filters="+value+"&min="+Math.round(Number(key)*100))
                      | #{value.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()})}
                      span(class="badge" style="margin-left:2px;") #{Math.round(Number(key)*100)}%
