doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript' src='/js/index.js')
    block scripts
  body
    header
      nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="container" style="color:#ffffff")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
          div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
              li
                a(href="/") Homepage
              li
                a(href="/dashboard") Dashboard
              li
                a(href="/marketplace") Marketplace
              //li
                a(href="/upload/manifest") Upload
              //li
                a(href="/synchronize/manifest") Synchronize
              //li
                a(href="/leaderboard") Leadboard
      nav(class="navbar navbar-inverse navbar-static-top clearfix")
    div.container
      block content
    footer
